page-splash {
  .getStart{
    background-image: url('../../assets/imgs/ic_splash_back.png');
    // background: url('../../img/getstart.png');
    background-repeat: no-repeat;
    background-size:cover;
  }

  .galleryImg{
    height:150px;
    width:100%;
    animation:move 3s infinite ease-in-out;
  }

  @keyframes move{
    0%{
      transform: scale(1) rotate(0deg);
    }
    100%{
      transform: scale(2) rotate(0.1deg);

    }

  }
}
